
<div class="container">

  <div class="row mt-5 text-center">
    <h1 class="col-12">Witaj w panelu administracyjnym!</h1>
  </div>


  <div class="row mt-5">
    <div class="card-deck m-auto">
      <div routerLink="orders" class="card border-primary" style="width: 15rem; cursor: pointer;">
        <img class="card-img-top" src="assets/img/orders.png">
        <div class="card-body text-center">
          <h4 class="card-title">Zamówienia</h4>
        </div>
      </div>
      <div routerLink="products" class="card border-success" style="width: 15rem; cursor: pointer;">
        <img class="card-img-top" src="assets/img/products.png">
        <div class="card-body text-center">
          <h4 class="card-title">Produkty</h4>
        </div>
      </div>
    </div>
  </div>
</div>

